@import './../../styles/plugins/variables';

.quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

  &__container {
	background: rgba(44, 47, 60, 0.8);
	box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
    color: $white;
  }

  &__title {
	  text-align: center;
	  padding: 5px;
	  text-transform: uppercase;
	  font-weight: bold;
	  color: #F5F5F5;
  }

  &__button {
	text-align: center;
}
}

.active-answer {
  border-bottom: 1px solid red;
}
